html,
body {

  height: 100%;
  width: 100%;
  place-items: center;

}
.profil-container {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 10px;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    /* Sesuaikan dengan lebar gambar */
    height: 100px;
    /* Sesuaikan dengan tinggi gambar */
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #777;
    margin-bottom: 20px;
}

label {
    flex: 1;
    margin-bottom: 10px;
}

button {
    background-color: #ee4d2d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.utama-profile-image {
    border-radius: 50%;
    width: 100px;
    /* Sesuaikan dengan lebar gambar */
    height: 100px;
    /* Sesuaikan dengan tinggi gambar */
    object-fit: cover;
    margin-bottom: 20px;
}
.address-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .address-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .address-form select,
  .address-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px; /* Add some margin to space out the fields */
  }
  
  .address-form button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button width consistent */
  }
  
